                                                 Московский Авиационный Институт  
                                          (Национальный Исследовательский Университет)
                                          
Кафедра: 806 «Вычислительная математика и программирование»  
Институт: «Информационные технологии и прикладная математика»  
Дисциплина: «Разработка ПО для высокопроизводительных систем»  

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>

                                                 Лабораторная работа №5.  
                                                          Тема:  
                                                        «pandas»
                                                         
                                                         
                                                                                                       Группа: М8О – 103М-20
                                                                                        Студент: Проскурин Андрей Кириллович
                                                                                Преподаватель: Поповкин Александр Викторович
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>

                                                           Москва  
                                                            2020

In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from dateutil.parser import parse
from collections import Counter
import re

**1)** Получить от объекта Series показатели описательной статистики

In [85]:
state = np.random.RandomState(42)
 
s = pd.Series(state.normal(10, 5, 25))
pkz = s.describe()
print(pkz)

count    25.000000
mean      9.182460
std       4.782765
min       0.433599
25%       7.188562
50%       8.829315
75%      12.483571
max      17.896064
dtype: float64

**2)** Узнать частоту уникальных элементов объекта Series (гистограмма)

In [86]:
data = 'abcdefghik'
len_series = 30
s = pd.Series(np.take(list(data), np.random.randint(len(data), size=len_series)))

ans = s.value_counts()

print(ans)

g    5
i    4
b    3
h    3
d    3
k    3
f    3
e    3
a    2
c    1
dtype: int64

**3)** Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся

In [10]:
s = pd.Series(state.randint(low=1, high=5, size=[10]))
s[~s.isin(s.value_counts().index[:2])] = 'Other'
print(s)

0        3
1    Other
2        3
3        4
4        3
5        4
6        4
7    Other
8        3
9    Other
dtype: object

**4)** Создать объект Series в индексах дата каждый день 2019 года, в значениях случайное значение

In [3]:
dti = pd.date_range(start='2019-01-01', end='2019-12-31', freq='D') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
print(s)

2019-01-01    0.744672
2019-01-02    0.885285
2019-01-03    0.648527
2019-01-04    0.848804
2019-01-05    0.604969
                ...
2019-12-27    0.708411
2019-12-28    0.494964
2019-12-29    0.413028
2019-12-30    0.607322
2019-12-31    0.122484
Freq: D, Length: 365, dtype: float64

**5)** Найти сумму всех вторников

In [4]:
ans1 = s[s == 1].sum()
print('Сумма всех "вторников"', ans1)

Сумма всех "вторников" 0.0

**6)** Для каждого месяца найти среднее значение

In [90]:
ans2 = s.resample('M').mean()
print('Средние значения по месяцам:\n', ans2)

Средние значения по месяцам:
 2019-01-31    0.550672
2019-02-28    0.455852
2019-03-31    0.627650
2019-04-30    0.532700
2019-05-31    0.436478
2019-06-30    0.504827
2019-07-31    0.397248
2019-08-31    0.501622
2019-09-30    0.491366
2019-10-31    0.510800
2019-11-30    0.514859
2019-12-31    0.413501
Freq: M, dtype: float64

**7)** Преобразовать объект Series в DataFrame заданной формы (shape)

In [91]:
s = pd.Series(np.random.randint(low=1, high=10, size=[35]))
r = (7, 5)
df = pd.DataFrame(s.values.reshape(r))
 
print(df)

   0  1  2  3  4
0  7  6  4  8  6
1  8  5  9  8  9
2  3  3  5  6  6
3  4  8  8  5  2
4  9  1  7  5  9
5  6  5  6  6  3
6  9  5  4  4  8

**8)** Найти индексы объекта Series кратные 3

In [92]:
s = pd.Series(np.random.randint(low=1, high=10, size=[7]))
 
ans = s[s % 3 == 0].index
print(ans)

Int64Index([2, 3, 4, 6], dtype='int64')

**9)** Получить данные по индексам объекта Series

In [93]:
s = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
p = [0, 4, 8, 14, 20, 10]

ans1 = s[p]
print(ans1)

0     a
4     e
8     i
14    o
20    u
10    k
dtype: object

**10)** Объединить два объекта Series вертикально и горизонтально

In [94]:
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))
 
ans_vertical = s1.append(s2)
ans_horizontal = pd.concat([s1, s2], axis=1)
 
print(ans_vertical)
print()
print(ans_horizontal)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

**11)** Получить индексы объекта Series A, данные которых содержатся в объетке Series B

In [95]:
s1 = pd.Series([5, 3, 2, 1, 4, 11, 13, 8, 7])
s2 = pd.Series([1, 5, 13, 2])
 
ans1 = np.asarray([np.where(i == s1)[0].tolist()[0] for i in s2])
print(ans1)

[3 0 6 2]

**12)** Получить объект Series B, котоырй содержит элементы без повторений объекта A

In [96]:
s = pd.Series(np.random.randint(low=1, high=10, size=[10]))
ans = pd.Series(s.unique())
print(ans)

0    4
1    2
2    5
3    6
4    9
5    1
dtype: int32

**13)** Преобразовать каждый символ объекта Series в верхний регистр

In [97]:
s = pd.Series(['life', 'is', 'interesting'])
print(s.str.upper())

0           LIFE
1             IS
2    INTERESTING
dtype: object

**14)** преобразовать данных Series в строку???????????

In [98]:
s = pd.Series(str(i) for i in s)

ans2 = pd.Series(i.title() for i in s)
print(ans2)

0           Life
1             Is
2    Interesting
dtype: object

**15)** Рассчитать количество символов в объекте Series

In [99]:
s = pd.Series(['one', 'two', 'three', 'four', 'five'])

ans2 = np.asarray([len(i) for i in s])
print(ans2)

[3 3 5 4 4]

**16)** преобразовать в строковый тип???????????

In [100]:
s = pd.Series(str(i) for i in s)
print(s)

0      one
1      two
2    three
3     four
4     five
dtype: object

**17)** Найти разность между объектом Series и смещением объекта Series на n

In [101]:
n = 1
s = pd.Series([1, 5, 7, 8, 12, 15, 17])
ans = s.diff(periods=n)
 
print(ans)

0    NaN
1    4.0
2    2.0
3    1.0
4    4.0
5    3.0
6    2.0
dtype: float64

**18)** Преобразовать разыне форматы строк объекта Series в дату

In [102]:
s = pd.Series(['2017/01/01', '2015-02-02', '15 Jan 2019'])

ans = pd.to_datetime(s)
 
print(ans)

0   2017-01-01
1   2015-02-02
2   2019-01-15
dtype: datetime64[ns]

**19)** Поскольку работа с датой часто встречается в работе, то см. еще один пример. все данные должны иметь одинаковый формат (часто бывает выгрузка из SQL). преобразовать в дату
%y - Год без века как десятичное число с нулями.
%Y - Год со столетием в виде десятичного числа.

In [103]:
s = pd.Series(['14.02.2019', '22.01.2019', '01.03.2019'])
ans = pd.to_datetime(s, format='%d.%m.%Y')
print(ans)

0   2019-02-14
1   2019-01-22
2   2019-03-01
dtype: datetime64[ns]

**20)** Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)

In [104]:
s = pd.Series(['01 Jan 2018', '02-02-2011', '20120303', '2013/04/04', '2018-12-31'])
print(s)

0    01 Jan 2018
1     02-02-2011
2       20120303
3     2013/04/04
4     2018-12-31
dtype: object

**21)** распарсить в дату и время

In [105]:
s_ts = s.map(lambda x: parse(x, yearfirst=True))
print(s_ts)

0   2018-01-01
1   2011-02-02
2   2012-03-03
3   2013-04-04
4   2018-12-31
dtype: datetime64[ns]

**22)** получить года

In [106]:
print(s_ts.dt.year)

0    2018
1    2011
2    2012
3    2013
4    2018
dtype: int64

**23)** получить месяца

In [107]:
print(s_ts.dt.month)

0     1
1     2
2     3
3     4
4    12
dtype: int64

**24)** получить дни

In [108]:
print(s_ts.dt.day)

0     1
1     2
2     3
3     4
4    31
dtype: int64

**25)** получить номер недели

In [109]:
print(s_ts.dt.weekofyear)

0     1
1     5
2     9
3    14
4     1
dtype: int64

**26)** получить номер дня в году

In [110]:
print(s_ts.dt.dayofyear)

0      1
1     33
2     63
3     94
4    365
dtype: int64

**27)** Отобрать элементы объекта Series, кторые содержат не менее двух гласных

In [111]:
s = pd.Series(['Яблоко', 'Orange', 'Plan', 'Python', 'Апельсин', 'Стол', 'Reliance'])
mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiouаоиеёэыуюя')]) >= 2)
ans = s[mask]
print(ans)

0      Яблоко
1      Orange
4    Апельсин
6    Reliance
dtype: object

**28)** Отобрать e-маилы из объекта Series (можно юзать регулярки)

In [112]:
emails = pd.Series(['test text @test.com', 'test@mail.ru', 'test.2ru', 'test@pp'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
ans = emails[mask]
print(ans)

1    test@mail.ru
dtype: object

**29)** Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

In [113]:
n = 10
s1 = pd.Series(np.random.choice(['dog', 'cat', 'horse', 'bird'], n))
s2 = pd.Series(np.linspace(1,n,n))
ans = s2.groupby(s1).mean()
print(ans)

bird     5.000000
cat      6.500000
dog      5.500000
horse    5.333333
dtype: float64