                                                 Московский Авиационный Институт  
                                          (Национальный Исследовательский Университет)
                                          
Кафедра: 806 «Вычислительная математика и программирование»  
Институт: «Информационные технологии и прикладная математика»  
Дисциплина: «Разработка ПО для высокопроизводительных систем»  

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>

                                                 Лабораторная работа №4.  
                                                          Тема:  
                                                        «pandas»
                                                         
                                                         
                                                                                                       Группа: М8О – 103М-20
                                                                                        Студент: Проскурин Андрей Кириллович
                                                                                Преподаватель: Поповкин Александр Викторович
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>

                                                           Москва  
                                                            2020

**1)** Импортировать модули sys numpy pandas

In [4]:
import sys
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

**2)** Создать объект pandas Series из листа, объекта NumPy, и словаря

In [84]:
list_1 = [1, 2, 3]
obj_1 = Series(list_1)
# print(obj_1)

list_2 = np.arange(0, 10)
obj_2 = Series(list_2)
# print(obj_2)

list_3 = {'Alex' : 22, 'Andrew' : 21, 'Dima' : 77}
obj_3 = Series(list_3)
print(obj_3)

Alex      22
Andrew    21
Dima      77
dtype: int64

**3)** Преобразовать объект Series в DataFrame

In [85]:
obj = Series({'Alex' : 22, 'Andrew' : 21, 'Dima' : 77})
data = DataFrame(obj)
print(data)

         0
Alex    22
Andrew  21
Dima    77

**4)** создать объект Series

In [86]:
obj = Series([3, 2, 2])
print(obj)

0    3
1    2
2    2
dtype: int64

**5)** преобразовать в DataFrame

In [87]:
obj = Series([1, 2, 3])
data = DataFrame(obj)
print(data)

   0
0  1
1  2
2  3

**6)** объединить несколько объектов Series в Dataframe

In [88]:
obj_1 = Series([1, 2, 3])
obj_2 = Series([4, 5, 6])
obj_3 = Series([7, 8, 9])
data = pd.concat([obj_1, obj_2, obj_3], axis = 1)
print(data)

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

**7)** Присвоить имя индексу объекта Series

In [89]:
obj = Series([3, 2, 2])
obj.name = 'NAME'
print(obj)

0    3
1    2
2    2
Name: NAME, dtype: int64

**8)** Получить элементы объекта Series A, которых нет в объекте Series B

In [90]:
obj_1 = Series([5, 6, 7])
obj_2 = Series([7, 8, 9])
print(obj_1[~(obj_1.isin(obj_2))])

0    5
1    6
dtype: int64

**9)** возвратить вместе с индексами

In [7]:
obj_1 = Series([5, 6, 7])
obj_2 = Series([7, 8, 9])
print(obj_1[~(obj_1.isin(obj_2))])

0    5
1    6
dtype: int64

**10)** возвратить значения

In [6]:
obj_1 = Series([5, 6, 7])
obj_2 = Series([7, 8, 9])
print(obj_1[~(obj_1.isin(obj_2))].values)

[5 6]

**11)** Получить не пересекающиеся элементы в двух объектах Series

In [93]:
obj_1 = Series([1, 2, 3, 4, 5])
obj_2 = Series([4, 5, 6, 7, 8])

obj_1_unique = obj_1[~(obj_1.isin(obj_2))]
obj_2_unique = obj_2[~(obj_2.isin(obj_1))]

obj_result = pd.concat([obj_1_unique, obj_2_unique])
print(obj_result)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

**12)** возвратить вместе с индексами

In [94]:
print(obj_result)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

**13)** получить объединенный Series без повтороений

In [95]:
obj_1 = Series([1, 2, 3, 4, 5])
obj_2 = Series([4, 5, 6, 7, 8])

obj_result = Series(np.union1d(obj_1, obj_2))
print(obj_result)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

**14)** получить пересекающиеся данные

In [96]:
obj_result = Series(np.intersect1d(obj_1, obj_2))
print(obj_result)

0    4
1    5
dtype: int64

**15)** отобрать все данные, кроме пересекающихся

In [97]:
obj_result = Series(np.setxor1d(obj_1, obj_2))
print(obj_result)

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

**16)** возвратить значения

In [98]:
print(obj_result.values)

[1 2 3 6 7 8]